@charset "utf-8";

/* webfont 페이퍼로지 */
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* ========== 기본 세팅 ========== */
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #222;
    background-color: #fffae6;
}

#wrap {
    min-width: 1360px;
}

/* =============== header =============== */
header {
    width: 100%;
    height: 100px;

    padding: 40px 90px 25px;
    box-sizing: border-box;

    font-family: 'Paperlogy';
    font-size: 20px;
    font-weight: 600;
    color: white;

    position: absolute;
    z-index: 99;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
}


/* =============== gnb 메뉴 =============== */
.gnb {
    display: flex;
}

.gnb li {
    margin-left: 167px;

    position: relative;
}

.gnb li a {
    display: inline-block;

    /* 꽃을 텍스트 "뒤로" 위치하기 위한 position */
    position: relative;
    z-index: 1;
}

.gnb li::before {
    /* gnb 호버 공통 꾸미기 */
    content: "";

    /* 꽃의 이미지 크기 */
    width: 19px;
    height: 18px;

    position: absolute;
    top: -15px;
    right: -20px;
    z-index: 0;

    background-repeat: no-repeat;
    background-size: contain;

    transition: all 0.2s;
    cursor: pointer;
}

.gnb li:first-child::before {
    background-image: url(../images/header/orange_hover.svg);
}

.gnb li:nth-child(2)::before {
    background-image: url(../images/header/blue_hover.svg);
}

.gnb li:nth-child(3)::before {
    background-image: url(../images/header/yellow_hover.svg);
}

.gnb li:nth-child(4)::before {
    background-image: url(../images/header/green_hover.svg);
}

.gnb li:nth-child(5)::before {
    background-image: url(../images/header/brown_hover.svg);
}

.gnb li:hover::before {
    transform: scale(2.8);
    transform-origin: right top;
}

.util {
    display: flex;
}

.util li {
    margin-left: 30px;
}

/* =============== banner =============== */
#banner .swiper {
    height: 912px;

    position: relative;
}

#banner .swiper-slide {
    text-align: center;
    background: #444;

    display: flex;
    /* 가운데 정렬용 */
    justify-content: center;
    align-items: center;
}

#banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;

    /* 이미지 비율 유지 + 부모박스안에 빈틈없이 채우기 */
    object-fit: cover;
}

#banner .swiper-scrollbar {
    width: calc(1850px);
    height: 8px;

    /* 스크롤바 중앙 정렬 */
    left: 50%;
    transform: translateX(-50%);

    background-color: #cdcdcd;
}

#banner .swiper-scrollbar-drag {
    background-color: #ff5b38;
}

/* =============== new arrival =============== */
#new_arrival {
    width: 1320px;
    margin: 177px auto 0;
}


/* '레시피코리아 서체' 타이틀 공통 꾸미기 */
h2 img {
    display: block;
    margin-bottom: 50px;
}

/* '레시피코리아 서체' 타이틀 공통 꾸미기 */


.arrival_wrap {
    display: flex;
    gap: 20px;
}

.arrival_wrap li {
    position: relative;
    /* .arrival_hover의 부모 */

    cursor: pointer;
}

/* 호버 */
.arrival_wrap .img_wrap:hover~.arrival_hover {
    display: block;
}

.arrival_wrap .img_wrap {
    width: 315px;
}

.arrival_wrap img {
    display: block;

    width: 100%;
    margin-bottom: 24px;
}

.arrival_name {
    font-family: 'Paperlogy';
    font-size: 22px;
    font-weight: 600;

    position: relative;
}

.DIY_badgeM::after {
    content: "";
    display: block;

    width: 50px;
    height: 21px;

    background: url(../images/new_arrival/DIY_badgeM.svg) no-repeat right center / contain;

    position: absolute;
    top: 6px;
    right: 90px;
}

.DIY_badgeL::after {
    content: "";

    width: 50px;
    height: 21px;

    background: url(../images/new_arrival/DIY_badgeL.svg) no-repeat right center / contain;

    position: absolute;
    top: 6px;
    right: 70px;
}

.arrival_level {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 500;

    padding: 2px 0;

    position: relative;
    /* .level02 부모 */
}

.level02::after {
    content: "";

    width: 70px;
    height: 10px;

    background: url(../images/new_arrival/level02.svg) no-repeat right top / contain;

    position: absolute;
    /* .arrival_level 자식 */
    top: 8px;
    left: 50px;
}

.level03::after {
    content: "";

    width: 70px;
    height: 10px;

    background: url(../images/new_arrival/level03.svg) no-repeat right top / contain;

    position: absolute;
    /* .arrival_level 자식 */
    top: 8px;
    left: 50px;
}

.arrival_tag {
    position: relative;
}

.tag1::before {
    content: "";

    display: block;

    width: 92px;
    height: 21px;

    background: url(../images/new_arrival/pre-order.svg) no-repeat right top / contain;

    position: absolute;
    top: 5px;
    left: 0;
}

.tag2::before {
    content: "";

    display: block;

    width: 68px;
    height: 21px;

    background: url(../images/new_arrival/limited.svg) no-repeat right top / contain;

    position: absolute;
    top: 5px;
    left: 105px;
}

.tag3::before {
    content: "";

    display: block;

    width: 68px;
    height: 21px;

    background: url(../images/new_arrival/order.svg) no-repeat right top / contain;

    position: absolute;
    top: 5px;
    left: 0;
}

.padding_price {
    margin-top: 30px;
}

.arrival_price {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

/* 호버 숨기기 */
.arrival_hover {
    /* .arrival_wrap li 자식 */
    position: absolute;
    top: 0;
    right: 0;

    display: none;

    /* 마우스로 잡히는 대상에서 무시 */
    pointer-events: none;
}

.arrival_hover img {
    display: block;
}

/* =============== 경계선 line_ani 시작 =============== */

.line_ani1 svg {
    width: 100%;
    display: block;
    margin-top: 27px;
}

.line_ani1 path {
    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;
}

.line_ani1.active path {
    animation: drawLine1 2.5s ease forwards;
}

@keyframes drawLine1 {
    from {
        stroke-dashoffset: 4000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

/* =============== 경계선 line_ani 끝 =============== */


/* =============== collection1 =============== */

#collection1 h2 {
    width: 1320px;
    margin: 71px auto 0;
    /* 추가로 여백+ */
}

.collection_background1 {
    background: url(../images/collection/background1.png) no-repeat center top / 100% auto;
    height: 880px;

    padding-top: 44px;
}

.inner_collection1 {
    width: 1620px;
    height: 790px;

    display: flex;
    justify-content: space-between;
}

/* ---------- 메인 화보 공통 꾸미기 - 시작 ---------- */
.pic img {
    display: block;
    width: 925px;
}

/* ---------- 메인 화보 공통 꾸미기 - 끝 ---------- */

#collection1 .collection_main {
    position: relative;
    /* 꾸미기 deco의 위치부모 */
}

/* 돼지꼬리 ------------------------------- */
.deco1 svg {
    display: block;
    width: 128px;

    position: absolute;
    top: 10px;
    right: -1030px;
}

.pig_tail1 {
    stroke-dasharray: 900;
    stroke-dashoffset: 1100;
    animation: pigTailDraw 7s ease-in-out infinite;
}

@keyframes pigTailDraw {
  0% {
    stroke-dashoffset: 1100;
  }

  /* 완전히 안 보이는 상태로 잠깐 유지 */
  8% {
    stroke-dashoffset: 900;
  }

  /* 여기부터 그리기 */
  30% {
    stroke-dashoffset: 0;
  }

  /* 완성 상태 유지 */
  75% {
    stroke-dashoffset: 0;
  }

  /* 다시 되돌아가며 사라짐 */
  100% {
    stroke-dashoffset: 1100;
  }
}

/* 파란" ------------------------------- */
.deco2 svg {
    display: block;
    width: 70px;

    position: absolute;
    top: 120px;
    left: 160px;
}

.blueline1,
.blueline2 {
    stroke-dasharray: 100;
    stroke-dashoffset: 130;
    animation: blueDraw 4s linear infinite;
}

.blueline1 {
    animation-name: blueDraw1;
}

.blueline2 {
    animation-name: blueDraw2;
}

@keyframes blueDraw1 {
    0% {
        stroke-dashoffset: 130;
    }

    5% {
        stroke-dashoffset: 100;
    }

    20% {
        stroke-dashoffset: 0;
    }

    70% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 130;
    }
}

@keyframes blueDraw2 {

    0%,
    20% {
        stroke-dashoffset: 130;
    }

    25% {
        stroke-dashoffset: 100;
    }

    40% {
        stroke-dashoffset: 0;
    }

    70% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 130;
    }
}

/* 스마일 ------------------------------- */
.deco3 svg {
    display: block;
    width: 133px;

    position: absolute;
    bottom: 25px;
    right: -880px;
}

.eye1,
.eye2,
.mouth {
    fill: none;
}

/* 왼쪽 눈 */
.eye1 {
    stroke-dasharray: 100;
    stroke-dashoffset: 130;
    animation: eyeDraw1 4s linear infinite;
}

@keyframes eyeDraw1 {
    0% {
        stroke-dashoffset: 130;
    }

    10% {
        stroke-dashoffset: 130;
    }

    20% {
        stroke-dashoffset: 0;
    }

    85% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 130;
    }
}

/* 오른쪽 눈 */
.eye2 {
    stroke-dasharray: 100;
    stroke-dashoffset: 130;
    animation: eyeDraw2 4s linear infinite;
}

@keyframes eyeDraw2 {
    0% {
        stroke-dashoffset: 130;
    }

    20% {
        stroke-dashoffset: 130;
    }

    30% {
        stroke-dashoffset: 0;
    }

    85% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 130;
    }
}

/* 입 */
.mouth {
    stroke-dasharray: 400;
    stroke-dashoffset: 500;
    animation: mouthDraw 4s linear infinite;
}

@keyframes mouthDraw {
    0% {
        stroke-dashoffset: 500;
    }

    30% {
        stroke-dashoffset: 500;
    }

    55% {
        stroke-dashoffset: 0;
    }

    85% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 500;
    }
}



#collection1 .collection_text {
    width: 622px;
    padding-top: 98px;

    position: relative;
    /* flower의 위치 부모 */
}

#collection1 .collection_text::after {
    display: block;
    content: "";
    background: url(../images/collection/flower1.svg) no-repeat center / contain;
    width: 166px;
    height: 162px;

    position: absolute;
    top: 20px;
    right: 170px;
    z-index: 0;
}

#collection1 .collection_text::before {
    display: block;
    content: "";
    background: url(../images/collection/flower2.svg) no-repeat center / contain;
    width: 87px;
    height: 85px;

    position: absolute;
    top: 120px;
    right: 65px;
    z-index: 0;
}

#collection1 .collection_text h3 {
    margin-bottom: 33px;
}

#collection1 .collection_text h3 img {
    width: 348px;

    position: relative;
    /* 꽃 그래픽과의 순서 */
    z-index: 1;
}

#collection1 .collection_text .t {
    margin-bottom: 25px;
    font-weight: 600;
}


#collection1 .collection_text span img {
    display: block;
    width: 636px;

    margin-bottom: 22px;
}

/* 미니 슬라이더*/
.mini_slide_wrap1 {
    width: 692px;
    height: 473px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
}

.swiper.mini_slide1 {
    /* swiper 또는 mini_slide라는 이름의 클래스에 적용 */
    /* 띄어쓰기 안함!! */
    width: 622px;
    height: 473px;

    margin: 0;
    /* 기본 swiper margin 제거 */
    flex-shrink: 0;
    /* 크기줄어들지 않게 */
}

/* swiper 공통 꾸미기 - 시작 */
.swiper-slide img {
    width: 304px;
    height: 473px;
    display: block;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next img {
    width: 25px;
    display: block;
}

.swiper-button-next svg {
    display: none;
}

/* swiper 공통 꾸미기 - 끝 */

/* ---------------- 미니 이미지 호버(info) - 시작 ----------------*/
.mini_img {
    position: relative;
    cursor: pointer;
}

.info {
    width: 266px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 16px 19px 15px;

    position: relative;
    /* wish(하트) 부모 */
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transform: translateY(130px);
    transition: all 0.3s;
}

.mini_name {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Paperlogy';
}

.mini_order img {
    width: 66px;
    height: 21px;
}

.mini_img:hover .info {
    transform: translateY(0);
}

.wish_bf {
    position: absolute;
    right: 20px;
    bottom: 19px;
}

.wish_bf img {
    width: 20px;
    height: 17px;
}

/* ---------------- 미니 이미지 호버(info) - 끝 ----------------*/



/* ---------------- 미니 이미지 호버(이미지) - 시작 ----------------*/
#collection1 .pic {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
}

#collection1 .pic.active {
    display: block;
}

/* ---------------- 미니 이미지 호버(이미지) - 끝 ----------------*/



/* =============== collection2 =============== */

.collection_background2 {
    background: url(../images/collection/background2.png) no-repeat center top / 100% auto;
    height: 872px;

    padding-top: 44px;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-end;
}

#collection2 {
    overflow: hidden;
}

#collection2 .collection_main {
    transform: translateX(15px);

    position: relative;
    /* 미니 이미지 호버 부모 */
}

.inner_collection2 {
    width: 1690px;
    height: 790px;

    display: flex;
    justify-content: space-between;

    position: relative;
}

#collection2 .collection_text {
    width: 713px;

    margin-right: 70px;
    padding-top: 83px;
    /* 태그의 가로너비만 줘서 세로는 자동으로 계산이 되는데 콜렉션1,2의 태그 너비가 다르기 때문에 높이 오차가 생겨, 따로 값일 다르게 조정 */

    text-align: right;
}

#collection2 .collection_text h3 {
    margin-bottom: 33px;
}

#collection2 .collection_text h3 img {
    width: 419px;

}

#collection2 .collection_text p {
    margin-bottom: 25px;
    font-weight: 600;
}

#collection2 .collection_text span {
    display: flex;
    justify-content: end;
}


#collection2 .collection_text span img {
    display: block;
    width: 713px;

    margin-bottom: 22px;
}

/* ---------------- 미니 이미지 호버(이미지) - 시작 ----------------*/
#collection2 .pic {
    display: none;

    position: absolute;
    top: 0;
    right: 0;

}

#collection2 .pic.active {
    display: block;
}

/* ---------------- 미니 이미지 호버(이미지) - 끝 ----------------*/

/* 미니 swiper */
.mini_slide_wrap2 {
    width: 670px;
    height: 473px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;

    margin-left: auto;
    /* 
    1. 부모 안에서 왼쪽 여백을 가능한 만큼 자동으로 먹게 해서 결과적으로 오른쪽 끝으로 붙게함.

    2. 박스 자체를 부모의 오른쪽으로 정렬
    */
}

.swiper.mini_slide2 {
    /* swiper 또는 mini_slide2라는 이름의 클래스에 적용 */
    /* 띄어쓰기 안함!! */
    width: 622px;
    height: 473px;

    margin: 0;
    /* 기본 swiper margin 제거 */
    flex-shrink: 0;
    /* 크기줄어들지 않게 */
}

.mini_left {
    margin-right: 30px;
}

.mini_left img {
    display: block;
    cursor: pointer;
}

/* =============== 경계면 애니메이션2 =============== */
.line_ani2 {
    width: 707px;

    position: absolute;
    /* 부모 = .story_background */
    top: -100px;
    left: 0;
}

.line_ani2 path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.line_ani2.active path {
    animation: drawLine2 2.5s ease forwards;
}

@keyframes drawLine2 {
    from {
        stroke-dashoffset: 2500;
    }

    to {
        stroke-dashoffset: 0;
    }
}

/* =============== story =============== */
.story_background {
    background: url(/images/story/background.png) no-repeat center 400px / 100% auto;
    height: 1000px;

    position: relative;
}

.inner_story {
    width: 1156px;
    margin: 228px auto 0;
    text-align: center;
}

.inner_story h2 {
    line-height: 0;
    /* display - inline으로 다시 생긴 공백 없애기 */
}

.inner_story h2 img {
    display: inline;
    width: 415px;
}

.story_img {
    display: flex;
    justify-content: space-between;

}

.story_img img {
    display: block;
}

.story_img li:first-child img {
    width: 601px;
}

.story_img li:nth-child(2) img {
    width: 270px;
}

.story_img li:nth-child(3) img {
    width: 270px;
}

.inner_story p {
    margin-top: 39px;
    color: #ffffff;
    font-weight: 300;
    line-height: 2;
}

.story_button img {
    margin-top: 53px;
    width: 159px;
}

/* =============== event =============== */
.cloud1_wrap {
    width: 100%;
    height: 1181px;

    position: relative;
}


#event h2 img {
    width: 146px;

    position: absolute;
    top: 155px;
    left: 300px;
}

.event_title {
    position: absolute;
    top: 400px;
    left: 530px;
    z-index: 2;
}

.cloud1 img {
    display: block;
    width: 100%;
    margin-top: 180px;
}

.cloud2 img {
    display: block;
    width: 163px;
}

.cloud2 {
    position: absolute;
    top: 1010px;
    left: 750px;
}

.cloud2 img {
    display: block;
    width: 170px;
}

/* =============== sns =============== */
.cloud3 img {
    display: block;
    width: 50px;
}

.cloud3 {
    position: absolute;
    top: 14px;
    left: 898px;
}

#sns {
    width: 100%;
    height: 830px;
    margin: 0 auto;

    position: relative;
}

#sns h2 img {
    width: 88px;
}

#sns h2 {
    margin-left: 300px;
}

#sns p {
    display: inline-block;

    font-size: 22px;
    font-weight: 600;
    margin-left: 300px;

    position: relative;
    z-index: 0;

    cursor: pointer;
}

#sns p::after {
    content: "";

    background: url(/images/sns/hover.svg) no-repeat right center / contain;
    width: 19px;
    height: 18px;

    position: absolute;
    top: -12px;
    right: -20px;
    z-index: -1;

    transition: all 0.2s;
}

#sns p:hover::after {
    transform: scale(2.8);
    transform-origin: right top;
}

.insta_frame {
    position: absolute;
    top: 106px;
    left: 743px;
}

.insta_frame img {
    display: block;
    width: 420px;
}

/* sns 슬라이드 */
.sns_slider_wrap {
    width: 1819px;
    margin: 0 auto;

    position: relative;
}

.sns_slider {
    width: 1677px;
    height: 508px;
    margin: 59px auto;
}

.sns_slider .swiper-wrapper {
    width: 1677px;
    /* gap: 35px; */
}

.sns_slider .swiper-slide {
    width: 283px;
    display: flex;
    align-items: flex-end;

    /* margin-left: 35px; */

    transition: all 0.5s ease;
}

.sns_slider .swiper-slide img {
    display: block;
    width: 283px;
    height: 352px;
    object-fit: cover;

    transition: all 0.5s ease;
    transform-origin: center bottom;
}

/* 가운데 사진을 위로 보이게 */
.sns_slider .swiper-slide-active {
    width: 405px;
}

/* 가운데 active 이미지만 확대 */
.sns_slider .swiper-slide-active img {
    width: 405px;
    height: 506px;
}

.sns_slider_wrap .swiper-button-prev svg {
    display: none;
}

/* =============== footer =============== */
.footer_bg {
    margin-top: 200px;
    width: 100%;
    height: 400px;
    background: url(/images/footer/footer_bg.png) no-repeat center;

    position: relative;
    /* .line의 부모 */
}

.inner_footer {
    width: 1320px;
    height: 400px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 47px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;

    color: #ffffff;
}

.left_link ul {
    display: flex;
    margin-bottom: 35px;
    font-weight: 500;
}

.left_link ul li {
    margin-right: 30px;
}

.newsletter p {
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 20px;
}

.newsletter form {
    width: 381px;
    height: 44px;
    padding-left: 20px;
    padding-right: 11px;
    box-sizing: border-box;

    background-color: #fffae6;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
}

.newsletter input {
    border: none;
    background-color: transparent;
    outline: none;
}

.newsletter button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.newsletter button img {
    display: block;
}

input::placeholder {
    color: #ff5b38;
    font-size: 18px;
}

.right_link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.right_link ul {
    display: flex;
}

.right_link ul li {
    margin-left: 30px;
}

.right_link ul li img {
    display: block;
    width: 52px;
}

.right_link .footer_nav {
    margin-top: 46px;
    font-weight: 500;
}

.right_link p {
    margin-top: 13px;
    font-size: 12px;
}

#footer .line {
    position: absolute;
    top: 131px;
    left: 0;
    z-index: 1;

    pointer-events: none;
    /* z-index로 인해 뉴스레터 포인트가 방해되니 라인 포인트 none 하기 */
}